body {
  max-width: 1180px;
  margin: 0 auto;
  font-family: "Raleway", sans-serif;
}

.container {
  max-width: 1140px;
  margin: auto;
}
/* ========   HEADER ====== */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  padding-top: 30px;
}

.menu {
  display: flex;
  list-style: none;
}

.menu-link {
  margin-right: 30px;
  text-decoration: none;
  color: #0065fc;
  height: 15px;
}

.menu-link:hover {
  border-top: 1px solid #0065fc;
  padding-top: 30px;
}

.chcol {
  color: #898a83;
}

.items-inscrire {
  font-weight: 700;
}
/* =========== / HEADER ==========  */

/* =========== MAIN ============ */

/* ========== section ========== */
.section {
  margin-left: 0.8em;
}
h1 {
  font-size: 24px;
}

.paragraffe1 {
  font-size: 12px;
  margin-top: -10px;
}
/* ========= BOUTON de RECHERCHE ========= */

.search-pnl {
  width: 170px;
  height: 35px;
  font-size: 14px;
  font-weight: bold;
  border: 1px solid #f2f3f4;
}

.bouton-recherche {
  width: 100px;
  height: 35px;
  background-color: #0065fc;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.button-primary {
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  border: 2px solid #0065fc;
  background-color: #0065fc;
  padding-top: 0.65em;
  padding-left: 10px;
  cursor: pointer;
}

.search-fa {
  display: none;
}

.search-panel {
  display: flex;
  align-items: center;
  margin-top: -15px;
}

.icon-maps {
  width: 36px;
  height: 36px;
  background-color: #f2f3f4;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.fa-map-marker-alt {
  font-size: 0.9em;
  margin-top: 0.8em;
  margin-left: 1em;
}
/* ========= /BOUTON de RECHERCHE ========= */

/* ========= FILTRES =========== */

.menu-filtres {
  display: flex;
  align-items: center;
  margin-top: 30px;
}
.menu-items {
  width: 57%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 2em;
}

h3 {
  font-size: 14px;
}

.icon-money {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  margin-left: -2px;
  background-color: #d6eaf8;
  border: 1px solid #d6eaf8;
  border-radius: 100%;
}

.fa-money-bill-wave {
  color: #0065fc;
  font-size: 11px;
  margin-top: 9px;
  margin-left: 0.63em;
}

.fa-child {
  color: #0065fc;
  margin-top: 7px;
  margin-left: 0.55em;
}

.fa-heart {
  color: #0065fc;
  font-size: 14px;
  margin-top: 9px;
  margin-left: 7px;
}

.fa-dog {
  color: #0065fc;
  font-size: 14px;
  margin-top: 7px;
  margin-left: 7px;
}

.filter1 {
  display: flex;
  align-items: center;
  width: 140px;
  height: 30px;
  border: 2px solid #ecf0f1;
  border-radius: 16px;
}

.filter2 {
  display: flex;
  align-items: center;
  width: 110px;
  height: 30px;
  border: 2px solid #ecf0f1;
  border-radius: 16px;
}

.dog {
  display: flex;
  align-items: center;
  width: 180px;
  height: 30px;
  border: 2px solid #ecf0f1;
  border-radius: 16px;
}

.econom {
  text-decoration: none;
  color: black;
  font-size: 14px;
  font-weight: bold;
}

.econom:hover {
  color: #58d68d;
}
/* ========= / FILTRES =========== */

.logo500 {
  display: flex;
  align-items: center;
  margin-top: 1em;
  margin-bottom: 0.7em;
}

.logo-info {
  width: 1em;
  height: 1em;
  border: 0.1em solid #ccd1d1;
  border-radius: 100%;
  position: relative;
}

.icon-info {
  font-size: 0.55em;
  color: #0065fc;
  position: absolute;
  left: 0.7em;
  top: 0.4em;
}

.paragr-500 {
  margin-left: 0.6em;
  font-size: 0.75em;
}

/* ================ /section ============= */

/* ================ .section1 ============= */

.section1 {
  display: flex;
}

.fonne {
  width: 750px;
  height: 560px;
  background-color: #f2f3f4;
  border-radius: 20px;
  margin-bottom: 40px;
}

.page-title {
  font-size: 18px;
  padding-top: 30px;
  padding-bottom: 10px;
  margin-left: 30px;
}

.card-image {
  width: 190px;
  height: 110px;
  margin: auto;
  padding-top: 7px;
  padding-left: 1px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
}

.card {
  width: 200px;
  height: 200px;
  background-color: #fff;
  padding-left: 7px;
  border-radius: 20px;
}

.card-pos {
  display: flex;
  flex-wrap: wrap;
  margin-left: 20px;
  margin-right: 20px;
  justify-content: space-around;
}

.card-title {
  margin-left: 15px;
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: bold;
  word-wrap: break-word;
}

.card-txt {
  margin-left: 15px;
  margin-top: -15px;
  padding-top: 0;
  font-size: 12px;
}

.espace {
  margin-top: 25px;
}

.stars {
  margin-top: -25px;
  margin-left: 15px;
  color: #0065fc;
  font-size: 0.8em;
}

.stars1 {
  margin-top: -25px;
  margin-left: 15px;
  color: #0065fc;
  font-size: 0.8em;
}

.stars2 {
  margin-top: -25px;
  margin-left: 15px;
  color: #0065fc;
  font-size: 0.8em;
}

.afich-plus {
  margin-left: 40px;
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 14px;
}
/* ================ aside ================ */

.fonne1 {
  width: 350px;
  height: 560px;
  margin-left: 30px;
  border-radius: 20px;
  background-color: #f2f3f4;
}

.tete-page {
  display: flex;
  align-items: center;
}

.fa-chart-line {
  margin-top: 22px;
  margin-left: 85px;
}

.espace1 {
  margin-bottom: 30px;
}

.txt-potion {
  display: flex;
}

.card1 {
  background-color: #fff;
  width: 290px;
  height: 125px;
  margin-left: 27px;
  margin-bottom: 30px;
  border-radius: 10px;
}

.card-image1 {
  width: 120px;
  height: 115px;
  margin: 5px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  object-fit: cover;
}

.card-title1 {
  font-size: 14px;
  word-wrap: break-word;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.card-txt1 {
  text-decoration: none;
  color: black;
  font-size: 12px;
}

.txt-nuit {
  margin-top: -0.85em;
  margin-bottom: 1.85em;
}

.stars-aside {
  color: #0065fc;
  font-size: 0.8em;
}

.stars-aside1 {
  color: #0065fc;
  font-size: 0.8em;
}

.card-title2 {
  margin-left: 10px;
  margin-top: -10px;
}
/* ==========  /aside ========== */
/* ========== ./section1 ======= */

/* =========== .section2 ======= */

.page-title1 {
  font-size: 18px;
}

.section2 {
  display: flex;
}

.acv-mars {
  display: flex;
}

.vieux-port {
  width: 257px;
  height: 360px;
  background-color: #fff;
  border: 1px solid #f2f3f4;
  border-radius: 20px;
  box-shadow: 2px 2px 2px #f2f3f4;
  margin-bottom: 50px;
}

.images-vport {
  width: 257px;
  height: 300px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
}

.par-title-img {
  padding-left: 15px;
  font-size: 14px;
  font-weight: bold;
}

.fotr-iles {
  width: 257px;
  height: 180px;
  margin-left: 33px;
  background-color: #fff;
  border: 1px solid #f2f3f4;
  border-radius: 20px;
  box-shadow: 2px 2px 2px #f2f3f4;
  border-radius: 20px;
}

.images-fort {
  width: 257px;
  height: 130px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
}

.iles {
  width: 257px;
  height: 150px;
  background-color: #fff;
  border: 1px solid #f2f3f4;
  border-radius: 20px;
  box-shadow: 2px 2px 2px #f2f3f4;
  border-radius: 20px;
  margin-top: 45px;
}

.images-iles {
  width: 257px;
  height: 90px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
}

.espace2 {
  margin-left: 32px;
}

/* ========== ./section2 ======= */

/* ================= / MAIN ================= */

/* ================= .FOOTER ================= */

.footer {
  display: flex;
  max-width: 1200px;
  height: 167px;
  background: #f2f3f4;
}

.test {
  display: flex;
}

.a-propos {
  padding-top: 10px;
  margin-left: 10px;
}

.title-a-propos {
  font-size: 0.8em;
  margin-top: 20px;
  margin-left: 30px;
}

.txt-footer {
  list-style: none;
  margin-left: -10px;
}

.txt-footer1 {
  text-decoration: none;
  font-size: 0.7em;
  font-weight: bold;
  color: #898a83;
}

.footer-li {
  padding-bottom: 5px;
}

.espace3 {
  padding-left: 190px;
}

/* ================= /.FOOTER ================= */

/* ================  MEDIA QUERIES =========== */
