body {
  margin: 0;
  font-family: "Raleway", sans-serif;
}

.container {
  width: 1082px;
  margin: auto;
}

.container-wrap {
  width: 95%;
  margin: 0 auto;
}

/* ========= HEADER ========= */
header {
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.span {
  width: 67%;
  margin-top: 1rem;
}
/* ========= NAV MENU ======= */
.link9 {
  display: inline-block;
  text-decoration: none;
  font-size: 0.8rem;
  color: #0065fc;
}

.link-hebergement,
.link-activites,
.link-inscription {
  width: 9%;
  display: flex;
  justify-content: center;
  margin-bottom: 0.7rem;
  border-top: 0.15rem solid #fff;
  padding-top: 1.7rem;
}

.link-hebergement:hover {
  border-top: 0.15rem solid #0065fc;
  padding-top: 1.7rem;
}

.link-activites:hover {
  border-top: 0.15rem solid #0065fc;
  padding-top: 1.7rem;
}

.link-inscription:hover {
  border-top: 0.15rem solid #0065fc;
  padding-top: 1.7rem;
}

.link-inscription {
  font-weight: 700;
}

.link-activites {
  color: #566573;
}
/* ========= /NAV MENU ======= */
/* ========= /HEADER ========= */

/* ========= .SECTION1 ======= */
.section1 {
  margin-top: -1rem;
}
h1 {
  font-size: 1.1rem;
}

.paragraffe1 {
  font-size: 0.8rem;
  margin-top: -0.5rem;
}
/* ======= .SEARCH-PANEL ======= */
.search-panel {
  display: flex;
  margin-top: -1rem;
}

.search-fa {
  display: none;
}

.icon-maps {
  width: 2.1rem;
  height: 2.1rem;
  background-color: #f2f2f2;
  border-top-left-radius: 0.75em;
  border-bottom-left-radius: 0.75em;
}

.fa-map-marker-alt {
  margin-left: 12px;
  margin-top: 10px;
  font-size: 13px;
}

.search-pnl {
  width: 10rem;
  height: 2.1rem;
  border: 1px solid #f2f2f2;
  font-weight: 700;
  padding-left: 11px;
}

.button-primary {
  width: 5.6rem;
  height: 2.1rem;
  border: none;
  color: #fff;
  background-color: #0065fc;
  font-size: 0.75rem;
  border-top-right-radius: 0.9em;
  border-bottom-right-radius: 0.9em;
}
/* ======= /.SEARCH-PANEL ======= */
/* ======= .MENU-FILTRES ======== */
.menu-filtres {
  display: flex;
  align-items: center;
  margin-top: 0.9rem;
}

.menu-filtres-items {
  display: flex;
}

h3 {
  font-size: 0.8rem;
}

.filter1 {
  height: 1.7rem;
  display: flex;
  align-items: center;
  margin-left: 1.2rem;
  border: 2px solid #f2f2f2;
  border-radius: 1rem;
}

.filter2 {
  height: 1.7rem;
  display: flex;
  align-items: center;
  margin-left: 1.2rem;
  border: 2px solid #f2f2f2;
  border-radius: 1rem;
}

.econom {
  text-decoration: none;
  color: black;
  font-weight: 700;
  font-size: 0.75rem;
  padding-right: 1rem;
  padding-left: 0.7rem;
}

.econom:hover {
  color: #0065fc;
}

.icon-money {
  width: 1.9rem;
  height: 1.9rem;
  background-color: #d6eaf8;
  border-radius: 100%;
  margin-left: -0.1rem;
}

.fa-money-bill-wave {
  color: #0065fc;
  font-size: 10px;
  margin-left: 0.55rem;
  margin-top: 0.65rem;
}

.fa-child {
  color: #0065fc;
  font-size: 13px;
  margin-left: 0.65rem;
  margin-top: 0.55rem;
}

.fa-heart {
  color: #0065fc;
  font-size: 12px;
  margin-left: 0.6rem;
  margin-top: 0.65rem;
}

.fa-dog {
  color: #0065fc;
  font-size: 12px;
  margin-left: 0.5rem;
  margin-top: 0.55rem;
}
/* ======= /.MENU-FILTRES ======== */
/* ======= .LOGO500 ============== */
.logo500 {
  display: flex;
  align-items: center;
}

.logo-info {
  width: 16px;
  height: 16px;
  border: 1px solid #ccc;
  border-radius: 100%;
  position: relative;
}

.fa-info {
  font-size: 0.6rem;
  color: #0065fc;
  position: absolute;
  left: 0.36rem;
  top: 0.19rem;
}

.paragr-500 {
  font-size: 0.8rem;
  margin-left: 0.5rem;
}
/* ======= /.LOGO500 ======== */
/* ======= /.SECTION1 ======= */

/* ======= SECTION2 ========= */
.section2 {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
}
/* ======= CARD-IMAGE ======== */
.fonne {
  width: 67%;
  height: auto;
  background-color: #f2f2f2;
  border-radius: 1rem;
}

.page-title {
  font-size: 1rem;
  margin-left: 1.5rem;
}

.card-pos {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.card {
  margin-left: 3.5%;
  width: 28.5%;
  height: 10.4rem;
  background-color: #fff;
  border-radius: 1rem;
  margin-bottom: 1.5rem;
}

.card-link {
  text-decoration: none;
}

.card-image {
  width: 95%;
  height: 5.5rem;
  object-fit: cover;
  margin-left: 0.33rem;
  margin-top: 0.33rem;
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
}

.card-title {
  text-decoration: none;
  font-size: 0.75rem;
  color: black;
  font-weight: 700;
  margin-left: 0.8rem;
}

.card-txt {
  text-decoration: none;
  font-size: 0.65rem;
  color: black;
  margin-left: 0.8rem;
}

.stars {
  text-decoration: none;
  font-size: 0.7rem;
  color: #0065fc;
  margin-left: 0.8rem;
}

.stars1 {
  text-decoration: none;
  font-size: 0.7rem;
  color: #0065fc;
  margin-left: 0.8rem;
}

.stars2 {
  text-decoration: none;
  font-size: 0.7rem;
  color: #0065fc;
  margin-left: 0.8rem;
}

.fas1 {
  color: #d7dbdd;
}

.aficher {
  margin-top: 0;
}

.afich-plus {
  margin-left: 1.5rem;
  text-decoration: none;
  color: black;
}
/* ======= /CARD-IMAGE ======== */
/* ========= ASIDE ======== */
aside {
  width: 30.5%;
  height: auto;
  background-color: #f2f2f2;
  border-radius: 1rem;
}

.tete-page {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 1.6rem;
}

.card1 {
  margin-left: 7%;
  width: 85%;
  height: 7.4rem;
  background-color: #fff;
  margin-bottom: 1.7rem;
  border-radius: 1rem;
}

.txt-potion {
  display: flex;
}

.card-title2 {
  width: 45%;
  margin-left: 0.9rem;
  margin-top: 0.75rem;
}

.card-image1 {
  width: 6.4rem;
  height: 6.7rem;
  object-fit: cover;
  margin-top: 0.35rem;
  margin-left: 0.34rem;
  border-top-left-radius: 0.8rem;
  border-bottom-left-radius: 0.8rem;
}

.card-link1 {
  text-decoration: none;
}

.card-title1 {
  text-decoration: none;
  color: black;
  font-size: 0.75rem;
  font-weight: 700;
}

.card-txt1 {
  text-decoration: none;
  color: black;
  font-size: 0.65rem;
}

.stars-aside {
  text-decoration: none;
  color: #0065fc;
  font-size: 0.7rem;
}

.stars-aside1 {
  text-decoration: none;
  color: #0065fc;
  font-size: 0.7rem;
}

.str-aside {
  margin-top: 0.9rem;
}
/* ========= /ASIDE ======== */
/* ======= /SECTION 2 ====== */

/* ======= SECTION 3 ======= */
.page-title1 {
  font-size: 1rem;
  margin-top: 2.5rem;
}

.section3 {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 45px;
}

.acv-mars {
  display: flex;
  width: 48.7%;
  justify-content: space-between;
}

.vieux-port {
  width: 47.4%;
  height: 335px;
  border: 1px solid #f2f2f2;
  border-radius: 1rem;
  box-shadow: 3px 3px 3px #f2f2f2;
}

.images-vport {
  width: 100%;
  height: 285px;
  object-fit: cover;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.fotr-iles {
  width: 47.4%;
}

.fort {
  height: 155px;
  margin-bottom: 24px;
  border: 1px solid #f2f2f2;
  border-radius: 1rem;
  box-shadow: 3px 3px 3px #f2f2f2;
}

.images-fort {
  width: 100%;
  height: 105px;
  object-fit: cover;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.iles {
  height: 155px;
  border: 1px solid #f2f2f2;
  border-radius: 1rem;
  box-shadow: 3px 3px 3px #f2f2f2;
}

.images-iles {
  width: 100%;
  height: 105px;
  object-fit: cover;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.par-title-img {
  font-size: 0.75rem;
  font-weight: 700;
  margin-left: 1rem;
}
/* ======= /SECTION 3 ======= */

/* ======= FOOTER =========== */
.footer {
  width: 100%;
  height: auto;
  background-color: #f2f2f2;
  margin-bottom: 80px;
}

.footer-wrap {
  display: flex;
  width: 77%;
  justify-content: space-between;
}

.title-a-propos {
  margin-left: 15.5%;
  font-size: 0.8rem;
  margin-bottom: -0.75rem;
}

.txt-footer1 {
  margin-left: -6%;
}

.txt-footer2 {
  margin-left: -11%;
}

.txt-footer3 {
  margin-left: -19%;
}

footer li {
  list-style: none;
}

footer a {
  text-decoration: none;
  font-size: 0.65rem;
  color: #566573;
}
/* ======= /FOOTER =========== */

/* ======= MEDIA QUERIES ===== */
@media screen and (max-width: 1100px) {
  .container {
    width: 100%;
  }

  .container-wrap {
    width: 99%;
  }
}

@media screen and (max-width: 962px) {
  .span {
    width: 40%;
    padding-right: 90px;
  }
  .section2 {
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
  }

  aside {
    width: 100%;
    height: auto;
    background-color: #f2f2f2;
    border-radius: 1rem;
    margin-bottom: 2rem;
  }

  .aside {
    display: flex;
    justify-content: space-around;
  }

  .card1 {
    margin-left: 2%;
    margin-right: 2%;
    width: 90%;
    height: 14.5rem;
    background-color: #fff;
    margin-bottom: 1.7rem;
    border-radius: 1rem;
  }
  .card-image1 {
    width: 96%;
    height: 6.7rem;
    object-fit: cover;
    margin-top: 0.35rem;
    margin-left: 0.32rem;
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
    border-bottom-left-radius: 0;
  }

  .txt-potion {
    flex-direction: column;
  }

  .card-title2 {
    width: 65%;
    margin-left: 0.9rem;
    margin-top: 0.75rem;
  }

  .fonne {
    width: 100%;
    height: auto;
    background-color: #f2f2f2;
    border-radius: 1rem;
  }

  .section3 {
    flex-direction: column;
    align-items: center;
  }

  .acv-mars {
    display: flex;
    width: 100%;
  }

  .vieux-port {
    width: 27%;
    height: 9.5rem;
    margin-left: 3%;
  }

  .images-vport {
    height: 6.5rem;
  }

  .fotr-iles {
    display: flex;
    justify-content: space-around;
    width: 65%;
    margin-right: 2%;
  }

  .fort {
    width: 42%;
  }

  .iles {
    width: 42%;
  }

  .footer-wrap {
    width: 97%;
  }
}
@media screen and (max-width: 674px) {
  .span {
    width: 20%;
  }

  .link-hebergement,
  .link-activites,
  .link-inscription {
    width: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 0.7rem;
    border-top: 0.15rem solid #fff;
    padding-top: 1.7rem;
  }

  .menu-filtres {
    align-items: baseline;
  }
  .menu-filtres-items {
    flex-wrap: wrap;
  }

  .btn-animaux {
    margin-top: 0.5rem;
  }

  .aside {
    flex-direction: column;
    align-items: center;
  }

  aside {
    border-radius: 0;
  }

  .card1 {
    width: 23rem;
    height: auto;
  }

  .card-image1 {
    width: 8rem;
    height: 8rem;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0.8rem;
  }

  .card-title2 {
    width: 11rem;
  }

  .txt-potion {
    flex-direction: inherit;
  }

  .card-pos {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 23rem;
    height: 12rem;
    margin-left: 0;
    border: 1px solid #f2f2f2;
    box-shadow: 3px 3px 3px #f2f2f2;
  }

  .card-image {
    width: 22.3rem;
    height: 6.8rem;
  }

  .fonne {
    background-color: #fff;
  }

  .section3 {
    align-items: center;
  }

  .acv-mars {
    flex-direction: column;
    align-items: center;
  }

  .vieux-port {
    width: 23rem;
    height: 10rem;
    margin-left: 0;
    margin-bottom: 0.5rem;
  }

  .fotr-iles {
    flex-direction: column;
    align-items: center;
    margin-right: 0;
  }

  .fort {
    width: 23rem;
    height: 11rem;
  }

  .images-fort {
    height: 7.4rem;
  }

  .iles {
    width: 23rem;
    height: 10rem;
  }

  .par-title-img {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 500px) {
  .span {
    width: 10%;
  }
  .footer-wrap {
    flex-direction: column;
  }

  .title-a-propos {
    font-size: 1.04rem;
    margin-left: 0.9rem;
  }

  .txt-footer2,
  .txt-footer3 {
    margin-left: -1.6rem;
  }

  footer li {
    font-size: 1.5rem;
  }

  footer a {
    font-size: 0.9rem;
    font-weight: 400;
  }
}
@media screen and (max-width: 486px) {
  .btn-romantique {
    margin-top: 0.5rem;
  }
}

@media screen and (max-width: 450px) {
  .span {
    width: 10%;
  }
  .menu-filtres {
    flex-direction: column;
  }
}
@media screen and (max-width: 420px) {
  .container,
  .container-wrap {
    width: 100%;
  }

  .header-wrap {
    width: 100%;
  }

  .logo-site {
    width: 95px;
  }

  .link-hebergement,
  .link-activites {
    width: 50%;
    display: flex;
    justify-content: center;
    margin-top: 1.2rem;
    margin-bottom: 0.7rem;
    border-bottom: 0.187rem solid #f2f2f2;
    padding-bottom: 0.7rem;
    border-top: none;
    padding-top: 0;
    font-size: 0.9rem;
  }

  .link-hebergement:hover {
    border-bottom: 0.187rem solid #0065fc;
    padding-bottom: 0.7rem;
    border-top: none;
    padding-top: 0;
  }

  .link-activites:hover {
    border-bottom: 0.187rem solid #0065fc;
    padding-bottom: 0.7rem;
    border-top: none;
    padding-top: 0;
  }

  .link-inscription:hover {
    border-top: none;
    padding-top: 0;
  }

  .link-inscription {
    border-top: none;
    padding-top: 0;
    margin-top: 2.1rem;
    margin-right: 1.5rem;
    font-size: 0.9rem;
  }

  span {
    margin-left: 1.6rem;
  }

  .link9:nth-child(1) {
    order: 3;
  }
  .link9:nth-child(2) {
    order: 1;
  }
  .link9:nth-child(3) {
    order: 2;
  }

  .section1 {
    /* =========== SECTION1 ============ */
    margin-left: 1.8rem;
  }

  h1 {
    width: 90%;
    font-size: 1.4rem;
  }

  .paragraffe1 {
    font-size: 1rem;
  }

  .search-panel {
    position: relative;
  }

  .icon-maps {
    width: 3.1rem;
    height: 3.1rem;
  }

  .fa-map-marker-alt {
    font-size: 1.1rem;
    margin-left: 1.2rem;
    margin-top: 1rem;
  }

  .search-pnl {
    width: 14rem;
    height: 3.1rem;
    padding-left: 1.4rem;
    font-size: 1.1rem;
  }

  .button-primary {
    font-size: 0;
    height: 3.1rem;
    width: 3.1rem;
    border-radius: 0.8rem;
    margin-left: -0.5rem;
  }

  .search-fa {
    display: flex;
    position: absolute;
    margin-left: 0.5rem;
    margin-top: 1.1rem;
  }

  .fa-search {
    color: #fff;
    font-size: 1.1rem;
  }

  .page-title,
  .page-title1 {
    font-size: 1.3rem;
  }

  .page-title1 {
    margin-left: 1.5rem;
  }

  .fa-chart-line {
    font-size: 1.3rem;
  }

  .card1 {
    width: 21.3rem;
    margin-bottom: 0.7rem;
  }

  .card {
    width: 21.5rem;
  }

  .card-image {
    width: 20.8rem;
  }

  h3 {
    font-size: 1rem;
  }

  .menu-filtres-items {
    width: 90%;
  }

  .filter1 {
    height: 2.5rem;
    border-radius: 1.6rem;
  }

  .filter2 {
    height: 2.4rem;
    border-radius: 1.6rem;
  }

  .econom {
    font-size: 0.9rem;
  }

  .icon-money {
    width: 2.6rem;
    height: 2.6rem;
  }

  .fa-money-bill-wave {
    font-size: 0.87rem;
    margin-left: 0.7rem;
    margin-top: 0.8rem;
  }

  .fa-child {
    font-size: 1.05rem;
    margin-left: 0.85rem;
    margin-top: 0.7rem;
  }

  .fa-heart {
    font-size: 1rem;
    margin-top: 0.8rem;
    margin-left: 0.75rem;
  }

  .fa-dog {
    font-size: 1rem;
    margin-top: 0.7rem;
    margin-left: 0.7rem;
  }

  .btn-economique,
  .btn-romantique,
  .btn-animaux {
    margin-left: 0;
  }

  .logo500 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    position: relative;
  }

  .logo-info {
    width: 20px;
    height: 20px;
    position: absolute;
    margin-bottom: 1.2rem;
  }

  .fa-info {
    margin-left: 0.15rem;
    margin-top: 0.13rem;
  }

  .paragr-500 {
    font-size: 1rem;
    margin-left: 35px;
    width: 87%;
  }
  /* =========== /SECTION1 ============ */

  /* =========== SECTION2 ============ */
  aside {
    margin-bottom: 0;
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
  }

  .fonne {
    padding-top: 1.6rem;
  }

  .card {
    margin-bottom: 0.7rem;
  }

  .card-title {
    font-size: 1rem;
  }

  .card-title2 {
    margin-left: 1.5rem;
  }

  .card-title1 {
    font-size: 1rem;
  }

  .card-txt1 {
    font-size: 0.9rem;
  }

  .str-aside {
    margin-top: 2rem;
  }
  /* =========== /SECTION2 ============ */

  /* =========== SECTION3 ============ */
  .vieux-port,
  .fort,
  .iles {
    width: 21.5rem;
    margin-bottom: 0.9rem;
  }

  .iles-du-friout {
    margin-bottom: 0.7rem;
  }
  /* =========== /SECTION3 ============ */
  /* =========== .FOOTER ============ */
  .footer {
    width: 100%;
    margin-bottom: auto;
    padding-top: 1.5rem;
  }

  .footer-wrap {
    width: 90%;
    padding-left: 1.1rem;
  }

  .a-propos-assistance {
    margin-bottom: 1.5rem;
  }
  /* =========== /.FOOTER ============ */
}
/* =========== / MEDIA QUERIES ============ */
